body{
    font-family: Arial, Helvetica, sans-serif;

    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container{
    width: 40%;
    margin: 50px auto;
    background: white;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}


h1, h2{
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

form{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

form label{
    margin: 5px 0;
}

form input, form button{
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}


form button{
    background-color: dodgerblue;
    color: #fff;
    border: none;
    cursor: pointer;
}


form button:hover{
    background-color: rgb(54, 106, 158);
}


table{
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}


th, td{
    border: 1px solid #ddd;
    text-align: center;
    padding: 10px;
}

th{
    background-color: #f8f9fa;
}

tr:nth-child(even){
    background-color: #f9f9f9;
}

.twoColumnContainer{
    /* border: 2px solid black; */
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    grid-gap: 50px;

}

.tableContainer{
    margin: auto;
    width: 100%;
    /* box-shadow: 0px 0px 22px 0px black; */
}

.twoColumnContainer h2{
    background-color: rgb(0, 0, 0);
    color: white;
    padding: 20px 20px;
}
.sleepTrends{
    width: 100%;
}
